In [17]:
# import libraries
import pandas as pd
df = pd.read_csv("mldata.csv")
df.head(5)

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [18]:
df['gender'] = df['gender'].replace("Male", 1,)
df['gender'] = df['gender'].replace("Female", 0,)

In [19]:
df.head(5)

   age   height  weight  gender likeness
0   27  170.688    76.0       1  Biryani
1   41  165.000    70.0       1  Biryani
2   29  171.000    80.0       1  Biryani
3   27  173.000   102.0       1  Biryani
4   29  164.000    67.0       1  Biryani

In [23]:
# selection of input and output variables

X = df[['weight','gender']]
y = df['likeness']

In [24]:
X.head(5)

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [25]:
y.head(5)

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [26]:
# Machine learning algorithm
from sklearn.tree import DecisionTreeClassifier

# create fit our model
model = DecisionTreeClassifier().fit(X,y)

In [29]:
# prediction 
model.predict([[50,1]])

c:\Users\M.SHAHID\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Samosa'], dtype=object)

# check accuracy of model

In [46]:
# how  check accuracy of model  
# split data into train and test (80/20)
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train,X_test, y_train,y_test = train_test_split(X, y, test_size =1/5)

# create model
model = DecisionTreeClassifier()

# fitting a model
model.fit(X_train, y_train)

predicted_values = model.predict(X_test)
predicted_values

# checking score 
# y_test = actual values
score = accuracy_score(y_test, predicted_values)

score

0.6326530612244898

# how train and save the model

In [48]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

model = DecisionTreeClassifier().fit(X,y)
joblib.dump(model, 'foodie.joblib')

['foodie.joblib']

In [56]:
# graph

from sklearn import tree
model = DecisionTreeClassifier().fit(X,y)
# graphic evulution / look into what happens 
tree.export_graphviz(model,
                     out_file="foodie.dot",
                     feature_names=['age','gender'],
                     class_names=sorted(y.unique()),
                     label='all',
                     rounded=True,
                     filled=True)